{% extends "main/base.html" %}

{% block title %}Вход{% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h1 class="text-center">Вход</h1>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Login</button>
                    </form>
                    <hr>
                    <p class="text-center">Еще не зарегистрированы?<a href="{% url 'register' %}"> Зарегистрироваться</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br><br><br><br>

<!--    <h2>Login</h2>-->
<!--    <form method="post">-->
<!--        {% csrf_token %}-->
<!--        {{ form.as_p }}-->
<!--        <button type="submit">Login</button>-->
<!--    </form>-->
<!--<p class="text-center">Еще не зарегистрированы?<a href="{% url 'login' %}">Зарегестрироваться</a></p>-->
<!--<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>-->
{% endblock %}
